{% extends 'base.html' %}

{% block content %}


  <h1> Registrarse</h1>
  <br/>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
  <form method="POST">  <!--con POST pongo los datos al server-->
    {{ form.hidden_tag() }}
    {{ form.name.label (class="form-label") }}
    {{ form.name(class="form-control") }}
    {{ form.email.label (class="form-label") }}
    {{ form.email(class="form-control") }}
    {{ form.username.label (class="form-label") }}
    {{ form.username(class="form-control") }}
    {{ form.password.label (class="col-form-label") }}
    {{ form.password(class="form-control") }}
    <br/>

    {{ form.submit(class="btn btn-primary") }}
  </form>  
  </div>

   

{% endblock %}