
/home/cmlavaut/Documents/DevOps/ansible_labs/webserver1.pem
terraform-example/aws-deploy/.terraform/
terraform-example/aws-deploy/.terraform.lock.hcl
terraform-example/aws-deploy/terraform.tfstate
terraform-example/aws-deploy/terraform.tfstate.backup

terraform-example/aws-deploy-kmi/.terraform
terraform-example/aws-deploy-kmi/.terraform.lock.hcl
terraform-example/aws-deploy-kmi/terraform.tfstate

terraform-example/aws-deploy/terraform.tfstate.backup
terraform-example/aws-deploy/appkey.pem

terraform-example/aws-deploy-database/.terraform
terraform-example/aws-deploy-database/.terraform.lock.hcl
terraform-example/aws-deploy-database/terraform.tfstate
terraform-example/aws-deploy-database/terraform.tfstate.backup

terraform-example/aws-terraform-flask/application/.terraform.lock.hcl
terraform-example/aws-terraform-flask/flaskapp/project/

