h1 {
    font-size: 60px;
    color: brown;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2{
    font-size: 45px;
    color:chocolate;
    text-align: center;
    text-decoration: solid;
    margin: auto;
    margin-bottom: 10px;
}
h3{
    font-size: 45px;
    color:chocolate;
    text-align: center;
    text-decoration: solid;
}

.selector {
    font-size: 25px;
    display: block;
    text-align: center;
    margin: auto;
    text-decoration: solid;
    width: auto;
    height: auto;

}

button{
    font-size: 45px;
    margin-bottom: 10px;
    margin: 20px;
    display: inline-block;
}